* {
  font-family: 'League Gothic', sans-serif;
  color: #aeaeae;
}

.noticia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 50px 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f6f4ee;
}

.image {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  margin-right: 3rem;
}

.noticia:nth-child(even) {
  flex-direction: row-reverse;
}

.categoria {
  flex: 0;
  margin-left: 20px;
  text-transform: uppercase;
}

.titulo {
  margin-top: 10px;
  font-size: 50px;
}

.leadIn,
.autor,
.fecha {
  margin: 0;
}

.leadIn {
  font-size: 25px;
  margin: 10px;
}

.autor,
.fecha {
  font-size: 15px;
}

.contenido {
  margin-left: 2vw;
  margin-right: 2vw;
  max-width: 40vw;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media screen and (max-width: 500px) {
  .noticia {
    flex-direction: column;
    margin: 20px auto;
  }
  .noticia:nth-child(even) {
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .contenido {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 760px) {
  .image {
    width: 250px;
    height: auto;
    border-radius: 10px;
  }

  .noticia {
    flex-direction: column;
  }

  .noticia:nth-child(even) {
    flex-direction: column;
  }
}
