label {
  display: block;
  text-align: left;
  font-family: 'League Gothic', sans-serif;
  font-size: 2rem;
  font-weight: 200;

  margin-top: 10px;
}

input {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 8px 0;
  min-width: 30vw;
  background-color: #aeaeae;
  border-radius: 4px;

  border: none;
  color: white;
  padding: 8px;
  font-size: 1rem;
}

textarea {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 8px 0;
  min-width: 30vw;
  height: 120px;
  background-color: #aeaeae;
  border-radius: 4px;
  margin-bottom: 20px;
  border: none;
  color: white;
  padding: 8px;
  resize: none;
}

textarea:focus::placeholder {
  color: transparent;
}

.error {
  display: block;
  font-family: 'League Gothic', sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: lightcoral;
  margin-bottom: 10px;
}

input:focus {
  outline: 1px solid black;
}

textarea:focus {
  outline: 1px solid black;
}

@media screen and (max-width: 768px) {
  input,
  textarea {
    width: 45vw;
  }

  label {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 530px) {
  input,
  textarea {
    width: 60vw;
  }

  label {
    font-size: 1.8rem;
  }
}
