footer {
  margin-top: auto;
  margin-bottom: 0;
  background-color: rgb(247, 244, 239);
  height: 95px;
}

footer > img {
  margin-top: 15px;
  width: 50px;
}

p {
  font-family: 'League Gothic', sans-serif;
  font-weight: 200;
  font-size: 12px;
}
