.avatar-container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 32px;
}

.avatar-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-container input {
  border: none;
}

.search {
  width: 350px;
  min-width: 90px;
  font-size: 15px;
}
