* {
  font-family: 'League Gothic', sans-serif;
}

.carousel-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.news-container {
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 565px;
  height: 250px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.news-container h3,
.news-container p {
  position: relative;
  z-index: 1;
  padding: 10px;
  background-color: rgba(36, 35, 35, 0.7);
  color: white;
  border-radius: 10px;
  width: fit-content;
  white-space: pre-wrap;
  word-wrap: break-word;

  font-weight: 200;
}

.news-container h3 {
  margin-top: 3.2rem;
  font-size: 1.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.news-container p {
  margin-top: 0rem;
  font-size: 1.2rem;
  max-width: 500px;
  max-height: 100px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.prev-button,
.next-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: filter 0.3s ease;
  margin-top: 5px;
}

.prev-button {
  margin-right: 100px;
}

.next-button {
  margin-left: 100px;
}

.prev-button:hover,
.next-button:hover {
  filter: brightness(0.3);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-container p {
  font-size: 1rem;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  .news-container {
    width: 390px;
    height: 250px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .news-container h3 {
    margin-top: 3rem;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .news-container p {
    font-size: 1rem;
    max-width: 30vw;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
