.newpost {
  margin-bottom: 2rem;
  align-items: center;
}

.new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container1,
.image-container2 {
  flex: 0 0 150px;
}

.image-container1 {
  margin-bottom: 5rem;
}
.image-container2 {
  margin-right: 35px;
  margin-bottom: 5rem;
}

.create {
  color: #aeaeae;
  font-size: 3rem;
  text-align: center;
  justify-items: center;
  margin-top: -13rem;
  width: 450px;
}

.createNews {
  cursor: pointer;
  width: 250px;
  height: 55px;
  border-radius: 10px;
  color: #aeaeae;
  background-color: white;
  font-size: 1.5rem;
  border: 2px solid #aeaeae;
  margin-left: 41%;
  margin-top: -10rem;
  transition: filter 0.3s ease;
}

.createNews:hover {
  filter: brightness(0.7);
}

.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -13rem;
  margin-top: -10rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 980px) {
  .image-container1 img,
  .image-container2 img {
    max-width: 300px;
    max-height: 300px;
  }

  .create {
    width: 35%;
    font-size: 2.5rem;
    margin: auto;
    padding-left: 26px;
    padding-right: 5px;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .new {
    justify-content: center;
    gap: 1px;
  }

  .image-container1 img,
  .image-container2 img {
    max-width: 150px;
    max-height: 200px;
    margin-left: 2rem;
  }

  .image-container2 {
    margin-left: 3px;
    margin-top: 3px;
  }

  .create {
    width: 35%;
    font-size: 2rem;
    margin: auto;
    padding-left: 26px;
    padding-right: 5px;
    margin-top: 2rem;
  }

  .createNews {
    margin-left: 0;
    margin-top: 20px;
  }

  .create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: -70px;
  }
}

@media screen and (max-width: 640px) {
  .new {
    justify-content: center;
    gap: 1px;
  }

  .image-container1 img,
  .image-container2 img {
    max-width: 100px;
    max-height: 160px;
    margin-left: 1rem;
  }

  .image-container2 {
    margin-left: 3px;
    margin-top: 3px;
  }

  .create {
    width: 30%;
    font-size: 1.5rem;
    margin: auto;
    padding-left: 26px;
    padding-right: 5px;
    margin-top: 1rem;
  }

  .createNews {
    margin-left: 0;
    margin-top: 20px;
    width: 180px;
    font-size: 1.3rem;
  }

  .create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: -70px;
  }
}

@media screen and (max-width: 530px) {
  .create {
    width: 70%;
    font-size: 1.7rem;
    margin: auto;

    margin-top: 1rem;
    margin-bottom: 7rem;
  }
}
