h2 {
  font-family: 'League Gothic', sans-serif;

  font-weight: 500;
  font-size: 3rem;

  text-align: center;
  background-color: #aeaeae;
  color: white;
  margin: 2rem auto;
  max-width: 400px;
  border-radius: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 470px) {
  h2 {
    font-size: 2.5rem;
    width: 230px;
  }
}
