button {
  width: 100px;
  padding: 8px;
  background-color: #aeaeae;
  border: none;
  border-radius: 4px;
  color: white;
}

.button-error {
  background-color: #d93649;
}

.button-selected {
  border: 1px solid black;
}

.button span {
  font-family: 'League Gothic', sans-serif;
  color: white;
}

button:hover {
  background-color: black;
}
