.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  margin-top: 1rem;
}

.likes p {
  font-size: 0.8rem;
}

.likes > div {
  display: flex;
  align-items: center;
}

section.likes img {
  max-width: 16px;
  max-height: 16px;
  border-radius: 0;
  margin-right: 10px;
  padding-right: 3px;
  padding-left: 10px;
}


