.createNews {
  cursor: pointer;
  width: 250px;
  height: 55px;
  border-radius: 10px;
  color: #aeaeae;
  background-color: white;
  font-size: 1.5rem;
  border: 1.5px solid #aeaeae;
  transition: filter 0.3s ease;
}

.createNews:hover {
  font-size: 1.7rem;
  color: white;
  border: none;
}
