.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}

.categories-list li a {
  text-decoration: none;
}

.categories-list li {
  width: 390px;
  height: 220px;

  margin-bottom: 30px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.categories-list h2 {
  background-color: rgba(36, 35, 35, 0.7);
  color: white;
  border-radius: 10px;
  width: 210px;
  transition: transform 0.2s;
}

.categories-list h2:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 450px) {
  .categories-list li {
    width: 300px;
    height: 180px;
  }
  .categories-list h2 {
    font-size: 2rem;
    width: 170px;
  }
}
